* {
    --bg-dark: #1C292F;
    --bg-dark-lighted: #313D42;
    --bg-light: #CED1D2;
    --bg-btn-focus: #8DD08A;
    --text-color-focus: #8DD08A;
    --text-color: #1C292F;
    --text-white: #FFFFFF;
    --ultra-light: #899094;
    --text-warning : #F3FF8B;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
}

:root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.bg-dark {
    background-color: var(--bg-dark);
    color: var(--text-white); 
    padding: 2em 0;
}

.bg-light {
    background-color: var(--bg-light);
    color: var(--text-color);
}

.bg-dark-light{
    background-color: var(--bg-dark-lighted);
    border-radius: 15px;
}

.brand-text-warning{
    color: var(--text-warning);
}

.text-link-focus{
    color: var(--text-white);
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.text-link-focus:hover{
    color: var(--text-color-focus);
    border-bottom: 2px solid var(--bg-btn-focus);
}

.text-light {
    color: var(--text-white);
    border-bottom: 2px solid transparent;
}

.text-light:hover,
.text-light:focus {
    color: var(--text-color-focus);
    border-bottom: 2px solid var(--bg-btn-focus);
}

.text-dark {
    color: var(--text-color);
}

.text-brand, .nav-item > .active, .active {
    color: var(--text-color-focus) !important;
}

.text-brand:hover,
.text-brand:focus {
    color: var(--text-color-focus);
}


hr {
    width: 100%;
    height: 4px;
    background-color: var(--white);
}


/* Portfolio */
    @font-face {
        font-family: 'Poppins';
        src: url('Poppins-Light.ttf') format('truetype');
    }
    .poppins{
        font-family: 'Poppins', sans-serif;
    }
    .hi{
        font-weight: 100;
        color: var(--ultra-light);
    }
    .name{
        font-size: 3em;
        font-weight: bolder;
    }
    .cv-title{
        color: var(--text-color-focus);
        font-size: 1.5em;
    }
    .bio{
        margin: 2em 0;
        text-align: justify;
    }
    .objet, .bio{
        line-height: 1.3;
    }
    .transparency{
        color: var(--ultra-light);
    }
    .col-md-auto{
        border: 2px solid var(--bg-btn-focus);
        border-radius: 20px;
        padding: 10px 20px;
        text-align: center;
        display: block;
        width: max-content;
    }
    code{
        color: var(--text-color-focus);
        font-size: 14px;
        margin: 0 auto;
        font-size: 'Poppins';
    }
    .position-fixer > .bio{
        width: 90%;
    }
    .position-fixer{
        position:fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 30em;
    }
    .cv-link{
        margin-top: 3em;
        padding-left: 0;
        display: block;
    }
    .cv-link li{
        margin: 3% 0;
        list-style: none;
        display: block;
    }
    .cv-link li a::before{        
        content: '\2014\2014\2014\2014\2014\2014';
        margin-right: 5%;
        font-family: none;
    }
    .cv-link li a{
        text-decoration: none;
        color: var(--ultra-light);
    }
    .cv-link li a:is(:hover, :active, :focus){
        color: var(--bg-light);
    }
    .cv-subtitle{
        border: 2px solid var(--ultra-light);
        border-radius: 25px;
        padding: 30px;
    }
    .cv-subtitle:hover{
        border: 2px solid var(--bg-btn-focus);
    }


@media screen and (max-width: 900px) {

    /* PORTOFLIO */
    
    .name{
        font-size: 2.5em;
    }
    .cv-title{
        font-size: 1.2em;
    }
    .position-fixer{
        position: static;
        margin-top: 0%;
        top: initial;
        left: initial;
        transform: none;
        width: auto;
    }
    .position-fixer > .bio{
        width: 100%;
    }
    .invert-this{
        display: flex;
        flex-direction: column-reverse;
    }
    .invert-this .col-md-3{
        font-style: italic;
        margin-top: 10px;
    }
    .invert-this .transparency br{
        display: none;
    }
}
