:root{
    font-size: 16px;
    --primary-color: #043D5E;
    --secondary-color: #026FA7;
    --third-color: #00A8FF;
    --gray-color: #CECECE;
    --gray: #707070;
}

body{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HOME */
.banner{
    background: url('images/Group 6@2x.png') no-repeat center fixed;
    /* background-repeat: no-repeat; */
    background-size: contain; 
    height: 600px;
    width: 100%;
}
.link{
    margin-top: 10px;
}
.nav-item{
    padding: 10px;
}
.nav-link{
    color: #043D5E;
    font-size: 22px;
}
.white{
    color:#FFF;
}
.btn-brand{
    padding: 8px 15px;
    border: 1px solid #FFF;
    color: #FFF;
    text-decoration: none;
}
.btn-brand:hover{
    background-color: #FFF;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-brand-solid{
    padding: 8px 15px;border: 1px solid var(--primary-color);
    color: #FFF;
    background-color: var(--primary-color);
    text-decoration: none;
}
.btn-brand-color{
    padding: 8px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
}
.btn-brand-color:hover{
    background-color: var(--primary-color);
    color: #FFF;
    border: 2px solid var(--primary-color);
}
.banner-content{
    padding-top: 150px;
    color: #FFF;
}
.banner-content .name{
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
}
.banner-content h2{
    color: var(--third-color);
    font-size: 50px;
}
.banner-content p{
    width: 450px;
}
.about-banner{
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 30px;
}
h1{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: max-content;
    padding-bottom: 10px;
}
.img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
#small-screen{
    display: none;
}
.photo-grid-container{
    column-count: 4;
    column-width: 300px;
    column-gap: 10px;
    width: 100%;
    /* Remove max-width for full-screen grid */
    /* max-width: 1600px; */
    margin: auto;
    object-fit: contain;
}
.photo-grid-item{
    margin: 0 auto 5px;
    width: 100%;
    border: 1px solid #dddddd; 
    filter: grayscale(1);
}
.photo-grid-item:hover{
    filter: none;
}
.branding .centered{
    margin: 0 auto;
    text-align: center;
}
.p-width{
    width: 550px;
    text-align: justify;
}
.bg-light{
    color: var(--primary-color);
    padding: 20px;
}
.bg-light h4{
    color: var(--primary-color);
}
.bg-brand{
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px;
}
.bg-brand h4{
    color: #FFF;
}
.centered{
    text-align: center;
    margin: 0 auto;
}
.rate-75{
    height: 10px;
    background-color: #FFF;
}
.rate-25{
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.rate-light-75{
    height: 10px;
    background-color: var(--primary-color);
}
.rate-light-25{
    height: 10px;
    background-color: rgb(4, 61, 94, 0.5);
}
.hover-project{
    background-color: none;
    /* visibility: hidden; */
    position: absolute;
    height: max-content;
    width: 270px;
}
.hover-project:hover{
    /* visibility: visible; */
    background-color: rgb(4, 61, 94, 0.4);
    padding: 100px;
    width: 270px;
}

/* ABOUT ME */
.h-400{
    height: 400px;
}
.w-10{
    width: 60px;
    text-align: center;
    margin: 0 auto;
}
.gray-color{
    color: var(--gray);
}
.gray{
    color: var(--gray-color);
}
.brand-white{
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
}
.brand-white-50{
    color: #FFF;
    font-size: 50px;
    font-weight: bold; 
}
.brand{
    color: var(--primary-color);
    font-size: 70px;
    font-weight: bold;
}
.brand-left .container{
    text-align: left;
    margin-top: 70px;
}
.brand-left h4{
    font-size: 40px;
    margin-bottom: -20px;
}
.brand-left h2{
    font-size: 50px;
    margin-top: -10px;
}
.brand-right{
    background-color: var(--primary-color);
    height: 500px;
    color: #FFF;
    padding: 20px;
    width: 100%;
}
.brand-right .container{
    text-align: right;
    margin-top: 70px;
}
.brand-right h4{
    color: var(--gray-color);
    font-size: 40px;
    margin-bottom: -20px;
}
.brand-right h2{
    color: var(--gray-color);
    font-size: 50px;
    margin-top: -10px;
}
.w-30{
    width: 700px;
    margin: 0 auto;
}
h5{
    color: var(--primary-color);
    width: 350px;
}
.date{
    color: var(--gray);
}
.xp-list{
    margin-left: 200px;
}
.xp{
    margin-left: 260px;
    border-left: 2px solid var(--primary-color);
}
.justify-content-end{
    text-align: right;
    margin-right: 20px;
}
.level{
    margin-left: 30px;
}
i{
    font-size: 20px;
}
.form-row{
    width: 600px;
}

/* PORTFOLIO */
.portfolio{
    height: 295px;
    width: 400px;
    object-fit: contain;
}
.my-work
{
    align-content: center;
    text-align: center;
    margin: 0 auto;
    /* width: auto; */
}
.portfolio-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
/* .portfolio-img .img{
    width: auto;
    height: auto;
    object-fit: cover;
} */
#canvas_container {
    width: 700px;
    height: 500px;
    overflow: auto;
    /* margin:0 auto; */
    padding: 15px;
    /* background: var(--gray-color); */
    text-align: center;
    border: solid 1px var(--primary-color);
    object-fit: contain;
}
#pdf_renderer{
    width: auto;
    height: 450px;
    object-fit: fill;
}
.w-form{
    width: 10px;
}

/* CONTACT */
#contact-banner .container{
    width: auto;
    text-align: center;
    height: 280px;
    margin: 80px 80px 0 ;
}
#contact-banner .container h1{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    color: #FFF;
    border: none;
}
#contact-banner .container #contact-banner-i{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.contact-why{
    width:fit-content;
    padding: 0 10px;
}
.content-contact{
    margin-top: 55px;
}
.content-contact .bg-light{
    padding: 50px;
}


/* footer */
.footer{
    background-color: var(--primary-color);
    height: 60px;
}
#footer-color {
    color: #FFF;
}
.fab{
    margin-right: 10px;
    color: #FFF;
}
.footer-p{
    font-size: 20px;
    color: #FFF;
    text-align: center;
}
.footer .footer-link{
    color: #FFF;
}
.footer .footer-link:hover{
    color: var(--third-color);
}
.footer-link{
    color: #FFF;
    text-decoration: none;
}
.footer-link:hover{
    color: var(--third-color);
}

@media screen and (min-width: 250px) and (max-width: 480px){
    body{
        font-size: 12px;
        width: auto;
    }
    .banner-content{
        padding: 60px 0;
    }
    .banner-content .name{
        font-size: 50px;
    }
    .banner-content p{
        width: auto;
    }
    .about-banner{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .banner{
        background: var(--primary-color);
        height: auto;
        width: 100%; 
    }
    .col-width{
        width: auto;
    }
    .p-width{
        width: auto;
    }
    .space{
        padding: 0 10px;
    }
    #m-top{
        margin-top: 20px;
    }
    .portfolio{
        height: 180px;
        width: 180px;
        object-fit: cover;
    }
    .branding{
        width: auto;
    }
    .photo-grid-item{
        margin: 0 auto 5px;
        width: 100%;
    }
    .rs-img{
        margin: 0 auto;
    }
    .portfolio-img{
        height: 300px;
        width: 270px;
        object-fit: cover;
        margin: 0 auto;
    }
    .default-hide{
        display: none;
    }
    .img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    
    #large-screen{
        display: none;
    }
    #small-screen{
        display:flex;
    }
    #small-screen .img{
        margin: 0 auto;
    }
    h1{
        width: max-content;
        padding-bottom: 10px;
    }
    .so-long h1{
        width: 90%;
    }
    .bg-light .skills{
        width: auto;
    }
    .nav-item{
        padding: 0px;
    }
    /* #contact,
    .centered,
    .form-floating,
    .form-control{
        width: auto;
    } */
    #contact{
        width: auto;
    }
    #contact .centered{
        width: 200px;
    }
    #contact .bg-brand{
        width: auto;
    }
    #contact .bg-light{
        width: auto;
    }


    /* ABOUT ME */
    
    .brand{
        font-size: 50px;
    }
    .brand-white{
        font-size: 50px;
    }
    #banner .brand-left{
        width: 100%;
        height: 200px;
    }
    .brand-left{
        padding: 20px;
    }
    #banner .brand-right{
        width: 100%;
        height: 200px;
    }
    .brand-left .container{
        margin-top: 10px;
    }
    .brand-right .container{
        margin-top: 10px;
    }
    .container h4{
        font-size: 30px;
    }
    .container h2{
        font-size: 30px;
    }
    .centered .w-30{
        width: auto;
        text-align: justify;
    }
    .xp-list{
        margin-left: 8px;
    }
    .xp-list h5{
        width: auto;
    }
    .xp{
        margin-left: 8px;
    }
    .level{
        margin-left: 0px;
    }
    .justify-content-end h3{
        width: auto;
        text-align: center;
        padding: 15px;
        margin: 0 auto;
    }
    #education .bg-brand{
        width: auto;
        padding: 30px;
    }
    #education .bg-light{
        width: auto;
        padding: 30px;
    }
    
    /* PORTFOLIO */
    #building .bg-light{
        width: auto;
    }
    #building .img-box-portfolio{
        width: 310px;
        margin: 0 auto;
    }
    #building .bg-light .col-5 .img-portfolio{
        width: 310px;
        height: 500px;
        object-fit: cover;
    }
    #building .bg-light .col-7{
        width: auto;
    }

    /* CONTACT */

    #contact-banner .container{
        width: auto;
        text-align: center;
        margin: 0px;
        height: 200px;
    }
    #contact-banner .container h1{
        text-align: center;
        width: auto;
        margin: 0 auto;
        color: #FFF;
        border: none;
    }
    #contact-banner .container #contact-banner-i{
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .content-contact{
        margin-top: -100px;
    }
    .content-contact .bg-light{
        padding: 15px;
    }

    .content-contact .centered{
        width: 320px;
        margin: 0 auto;
        padding: 0;
    }
    .content-contact .contact-why{
        margin-top: 30px;
    }
    .content-contact .centered{
        width: auto;
        padding: 10px;
    }

}

@media (min-width: 481px) and (max-width: 767px){
    body{
        font-size: 12px;
        width: auto;
    }
    .banner-content{
        padding: 60px 0;
    }
    .banner-content .name{
        font-size: 50px;
    }
    .banner-content p{
        width: 300px;
    }
    .about-banner{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .banner{
        background: var(--primary-color);
        height: auto;
        width: 100%; 
    }
    .p-width{
        width: auto;
    }
    #m-top{
        margin-top: 20px;
    }
    .portfolio{
        /* padding: 10px; */
        visibility: hidden;
    }
    .content .row .portfolio{
        width: auto;
        display: none;
    }
    .content .row #col-width{
        width: 400px;
    }
    h1{
        width: max-content;
        padding-bottom: 10px;
    }
    .so-long h1{
        width: 90%;
    }
    .bg-light .skills{
        width: 350px;
    }
    .nav-item{
        padding: 0px;
    }
    #contact .bg-brand{
        width: auto;
    }
    #contact .bg-light{
        width: 400px;
    }
    .form-row{
        width: auto;
    }
    .form-floating .form-control{
        width: 320px;
    }


    /* ABOUT ME */
    
    .brand{
        font-size: 50px;
    }
    .brand-white{
        font-size: 50px;
    }
    #banner .brand-left{
        width: 100%;
        height: 200px;
    }
    .brand-left{
        padding: 20px;
    }
    #banner .brand-right{
        width: 100%;
        height: 200px;
    }
    .brand-left .container{
        margin-top: 10px;
    }
    .brand-right .container{
        margin-top: 10px;
    }
    .container h4{
        font-size: 30px;
    }
    .container h2{
        font-size: 30px;
    }
    .centered .w-30{
        width: auto;
        text-align: justify;
    }
    .xp-list{
        margin-left: 8px;
    }
    .xp{
        margin-left: 8px;
    }
    .level{
        margin-left: 0px;
    }
    .justify-content-end h3{
        width: 350px;
        text-align: center;
        padding: 15px;
        margin: 0 auto;
    }
    #education .bg-brand{
        width: auto;
        padding: 30px;
    }
    #education .bg-light{
        width: auto;
        padding: 30px;
    }
    
    /* PORTFOLIO */
    #building .bg-light{
        width: auto;
    }
    #building .bg-light .col-5 .img-portfolio{
        width: auto;
    }
    #building .bg-light .col-7{
        width: auto;
    }

    /* CONTACT */

    #contact-banner .container{
        width: auto;
        text-align: center;
        margin: 0px;
        height: 200px;
    }
    #contact-banner .container h1{
        text-align: center;
        width: auto;
        margin: 0 auto;
        color: #FFF;
        border: none;
    }
    #contact-banner .container #contact-banner-i{
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .content-contact{
        margin-top: -100px;
    }
    .content-contact .bg-light{
        padding: 15px;
    }
    .content-contact .centered{
        width: 320px;
        margin: 0 auto;
        padding: 0;
    }
    .content-contact .contact-why{
        margin-top: 30px;
    }
    .content-contact .centered h1{
        width: 300px;
        padding: 10px;
    }

    
}
